<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <span>Url for tracking: {{ tracker_url }}</span>
        <br />
        {% for request in tracker_info %}
            <button onclick="(async () => {await navigator.clipboard.writeText(JSON.stringify({{ request }}));})()">Copy body</button>
            <br />
            <pre>{{ request | tojson(2) }}</pre>
        {% endfor %}
    </body>
</html>
